* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}

.header {
  background-image: linear-gradient(rgba(118, 88, 32, 0.4), rgba(118, 88, 32, 0.85)),
  url('./resources/diego-catto-2NiVOHcIx4I-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.titles {
  width: 100%;
  text-align: center;
  opacity: 0.7;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-weight: 300;
  font-size: 2em;
}

.navbar {
  height: 15vh;
  background-color: rgb(218, 211, 211);
  display: flex;
  align-items: center;
  position: sticky;
  position: -webkit sticky;
  top: 0;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  
}

a {
  text-decoration: none;
  color: black;
}


#about {
  text-align: center;
  grid-area: 1/3/2/5;
  padding: 15vh 20rem;
  line-height: 1.8;
  background-color: #e5d1c8;
}

#product {
  padding-top: 15vh;
  background-color: #c8dce5;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.product {
  display: flex;
  width: 30%;
}

img {
  width: 80%;
}

#img-2, #img-3, #img-5 {
  height: 80%;
}

.content {
 align-self: center;
 padding-left: 0.5rem;
 font-family: 'Poppins', sans-serif;
}

#team {
  background-image: linear-gradient(rgba(65, 114, 136, 0.7), rgba(65, 114, 136, 0.7)),
  url('./resources/rowan-heuvel-bjej8BY1JYQ-unsplash.jpg');
  ;
  padding-top: 15vh;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1fr;
}

.team-member {
  padding-top: 5rem;
}

.member-description h1, .member-description h5 {
  font-family: 'Poppins', sans-serif;
}

.member-description h5 {
  font-weight: 100;
}
